* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'Satoshi-Variable';
    src: url(Satoshi-Variable.ttf);
  }

.container {
    height: 75vh;
    width: 100vw;
    background-size: cover;
    background-color: black;
}

nav {
    display: flex;
    position: fixed;
    width:100vw;
    background-color: #1d1d1d;
    justify-content: center;
}

nav ul li {
    display: inline-block;
    padding: 12px 15px;
    text-decoration: none;
    border: solid;
    border-color: red;
}

nav a {   
    text-decoration: none;
    color: #d8d8d8;
    font-family: 'Satoshi-Variable';
    font-weight: 400;
    font-size: 12px;
    letter-spacing: .02rem;
    width: 100vw;
}

nav a:hover {
    color: #fff;
    transition: 1s color;
}

.navIcon {
    width: 1rem;
    filter: invert(1);
    vertical-align: middle;
    margin-bottom: .5%;
    opacity: .85;
}

.navIcon:hover {
    opacity: 1;
    transition: 2s opacity;
}


#container1 {
    background-color: black;
}

#container2 {
    background-image: url("./images/appleWatch.jpg");

}

#container3 {
    background-image: url("./images/appleWatch.jpg");

}

#container4 {
    background-image: url("./images/appleWatch.jpg");

}

#container5 {
    background-image: url("./images/appleWatch.jpg");

}

#container6 {
    background-image: url("./images/appleWatch.jpg");

}

#container7 {
    background-image: url("./images/appleWatch.jpg");

}

#container8 {
    background-image: url("./images/appleWatch.jpg");
}

