* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'Satoshi-Variable';
    src: url(Satoshi-Variable.ttf);
    
  }


nav {
    display: flex;
    background-color: #1d1d1d;
    justify-content:center;
    width: 100vw;

}




nav a {   
    text-decoration: none;
    color: #d9d9d9;
    font-family: 'Satoshi-Variable';
    font-weight: 400;
    font-size: 12px;
    letter-spacing: .02rem;
    transition: 1s color;
    padding: 0.667% 0.9%;

}

nav a:hover {
    color: white;
}

.navIcon {
    width: 1rem;
    filter: invert(1);
    vertical-align: top; 
    opacity: .75;
}

.navIcon:hover {
    opacity: 1;
    transition: 1s opacity;
}

.fixed {
    position: fixed;
}

.container {
    height: 74vh;
    width: 100%;
    background-color: black;
}

.divider {
    height: 1.25vh;
    width: 100vw;
}

.half {
    width: 50vw;
}

.title {
    font-size: 24px;

}

.caption {
    font-size: 24px;

}

.text {
    position: fi;
}

#shop {
    color: white;
    font-size: 24px;
}

#container1 {
    background-image: url("./images/appleWatch.jpg");
    
}

#container2 {
    background-image: url("./images/lineup2.jpg");
    background-size: 100vw;
}

#container3 {
    background-image: url("./images/applebg.png");

}

#container4a {
    background-image: url("./images/lineup3.jpg");

}

#container4a {
    background-image: url("./images/lineup3.jpg");

}

#container5a {
    background-image: url("./images/appleWatch.jpg");

}

#container5b {
    background-image: url("./images/appleWatch.jpg");

}

#container6a {
    background-image: url("./images/appleWatch.jpg");

}

#container6b {
    background-image: url("./images/appleWatch.jpg");

}

#container7 {
    background-image: url("./images/appleWatch.jpg");

}
